NAMESPACE=gitlab-system
APP_NAME=gitlab

STORAGE=30Gi
SERVICE_TYPE=Ingress
RESOURCE_CPU=1
RESOURCE_MEM=8Gi


INGRESS_HOST= #  http:// 또는 https:// 제외. 없으면 공백
INGRESS_CLASS=nginx # ex) nginx, nginx-shd
STORAGE_CLASS=nfs # ex) nfs, csi-cephfs-sc
EXTERNAL_URL= #  http:// 또는 https:// 포함. 없으면 공백
TLS_SECRET= # 공인인증서 시크릿 없으면 공백
KEYCLOAK_TLS_SECRET_NAME= #KEYCLOAK_ROOT_CA 파일
KEYCLOAK_URL= #  http:// 또는 https:// 제외. 없으면 공백
KEYCLOAK_CLIENT= #
KEYCLOAK_SECRET= #

GITLAB_PASSWORD=password # root사용자 비밀번호
REPO_NAME=argocd-installer # gitlab에 등록될 repository 이름
GIT_URL=https://github.com/tmax-cloud/ #git 또는 gitlab prefix
GIT_REPO=argocd-installer # git레포명
