# Image Registry
imageRegistry=''

# GitLab template version
templateVersion=5.0.4

# Gitlab configs
storageSize=30Gi
serviceType=ClusterIP

# HyperAuth
authUrl='' # keycloak URL
authClient='' # keycloak client
authSecret='' # keycloak secret
authTLSSecretName='' # hyperauth secret
externalURL='' # ex) http://gitlab.tmaxcloud.org
ingressHost='' # ex) gitlab.tmaxcloud.org
