# Image Registry
imageRegistry=                 # 폐쇄망 설정

NAMESPACE=gitlab-system
APP_NAME=gitlab
SERVICE_TYPE=Ingress

STORAGE=30Gi
RESOURCE_CPU=1
RESOURCE_MEM=8Gi

INGRESS_CLASS=nginx             # ex) nginx, nginx-shd
STORAGE_CLASS=nfs               # ex) nfs, csi-cephfs-sc

INGRESS_HOST=                   # http:// 또는 https:// 제외. 없으면 공백
EXTERNAL_URL=                   # http:// 또는 https:// 포함. 없으면 공백
TLS_SECRET=                     # 공인인증서 시크릿. 없으면 공백

# 최초 설치시, 공백 - HYPERAUTH 설치 이후 사용 가능함
KEYCLOAK_TLS_SECRET_NAME=gitlab-root-secret       # KEYCLOAK_ROOT_CA 파일
KEYCLOAK_URL=https://hyperauth.ckcloud.org                   # http:// 또는 https:// 포함. 없으면 공백
KEYCLOAK_CLIENT=test-gitlab                # KEYCLOAK CLINET 이름.
KEYCLOAK_SECRET=05d37862-4054-4acd-b7b6-6f36e8a787f2                # KEYCLOAK CONFIDENTIAL
KEYCLOAK_CERT_FILE=/etc/kubernetes/pki/ca.crt 			# KEYCLOAK_ROOT_CA 파일 경로
# GITLAB 설정
GITLAB_PASSWORD=password        # root사용자 비밀번호
REPO_NAME=argocd-installer      # gitlab에 등록될 repository 이름
MANIFEST_PATH=/root/shy/final/install-gitlab/manifest/temp/argocd-installer
                 # tmaxcloud/argocd-installer 경로 설정
UPLOAD_PATH=/root/shy/final/install-gitlab/manifest # gitlab에 등록할 repository의 경로 설정 
