# Image Registry
imageRegistry=''

# GitLab template version
templateVersion=5.0.1

# Gitlab configs
storageSize=30Gi
serviceType=Ingress

# HyperAuth
authUrl=''    # 키클록 URL (`http://`또는 `https://` 포함)
authClient=''
authSecret=''
authTLSSecretName='gitlab-secret' #default
custom_domain_name='' #(`http://`또는 `https://`미포함)
